# Android Studio
*.iml
.gradle/
.idea/
local.properties
.DS_Store
build/
captures/
.externalNativeBuild/
.cxx/

# Archivos específicos de .idea
.idea/caches/
.idea/libraries/
.idea/modules.xml
.idea/workspace.xml
.idea/navEditor.xml
.idea/assetWizardSettings.xml
.idea/codeStyles/
.idea/misc.xml

# Logs y sistema
*.log
Thumbs.db
desktop.ini
